@import '../Base/Variables';

.quem-somos {
    padding: 0 1rem;

    @media (min-width: $mobile-large) {
        padding: 0 2rem;
    }

    .wp-block-media-text__content {
        padding: 0 1rem;

        >h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
            @media (min-width: $tablet) {
                padding: left;
            }
        }

        >p {
            @media (max-width: $tablet) {
                font-size: 1.3rem;
                text-align: justify;
            }
            @media (max-width: $mobile-large) {
                font-size: 1.1rem;
            }
        }

        >.wp-block-buttons {
            @media (max-width: $tablet) {
                justify-content: center;
            }
            >.wp-block-button{
                @media (max-width: $tablet-large) {
                    font-size: 1.3rem;
                }
                @media (max-width: $mobile-large) {
                    font-size: 1.1rem;
                }
            }
            
        }
    }
}
.beneficios {
    padding: 0 1rem;

    @media (min-width: $mobile-large) {
        padding: 0 2rem;
    }

    &.wp-block-columns {
        .wp-block-column {
            .ContainerBlocks{
                padding: 0;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    text-align: left;
                    @media (max-width: $tablet) {
                        text-align: center;
                    }
                }
        
                p {
                    @media (max-width: $tablet) {
                        font-size: 1.3rem;
                        text-align: justify;
                    }
                    @media (max-width: $mobile-large) {
                        // font-size: 1.1rem;
                    }
                }
        
                .wp-block-buttons {
                    @media (max-width: $tablet) {
                        justify-content: center;
                    }
                    >.wp-block-button{
                        @media (max-width: $tablet-large) {
                            font-size: 1.3rem;
                        }
                        @media (max-width: $mobile-large) {
                            font-size: 1.1rem;
                        }
                    }
                    
                }
            }
        }
        .dia-a-dia{
            .wp-block-group{
                justify-content: center;
            }
                h2{
                    text-align: center !important;
                }
        }
    }
}
