@import "../../../variables";

.ContainerBlocks {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  max-width: $container;
  overflow: hidden;
  .dia-a-dia{
    img{
      max-height: 300px;
      min-height: 300px
    }
  }
  .wp-block-embed-youtube{
    iframe{
      border-radius: 25px;
    }
  }
  @media (max-width: $desktop-large) {
    padding: 0 2rem;
  }
}
