<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"backgroundColor":"green-hard","textColor":"white","className":"has-background-color","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background-color has-white-color has-green-hard-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"align":"wide","layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap","orientation":"horizontal"}} -->
    <div class="wp-block-group alignwide"><!-- wp:group {"layout":{"type":"flex"}} -->
    <div class="wp-block-group"><!-- wp:site-logo /--></div>
    <!-- /wp:group -->
    
    <!-- wp:navigation {"ref":6,"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"right"},"style":{"layout":{"selfStretch":"fit","flexSize":null}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:makersolucoes/hero {"backgroundColor":"green-hard"} -->
    <section class="wp-block-makersolucoes-hero Hero has-green-hard-background-color has-background"><!-- wp:makersolucoes/container {"className":"Hero-container"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks Hero-container"><!-- wp:columns {"className":"Hero-columns"} -->
    <div class="wp-block-columns Hero-columns"><!-- wp:column {"verticalAlignment":"center","width":"50%","className":"Hero-column"} -->
    <div class="wp-block-column is-vertically-aligned-center Hero-column" style="flex-basis:50%"><!-- wp:heading {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"whit","className":"Hero-title","fontFamily":"montserrat"} -->
    <h1 class="wp-block-heading Hero-title has-whit-color has-text-color has-montserrat-font-family" style="font-style:normal;font-weight:400"><strong>Certificações e Agronegócio</strong></h1>
    <!-- /wp:heading -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"left"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}}} -->
    <div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--30)"><!-- wp:button {"textAlign":"left","backgroundColor":"whit","textColor":"black","style":{"border":{"width":"0px","style":"none","radius":"4px"}},"fontFamily":"nunito"} -->
    <div class="wp-block-button has-nunito-font-family"><a class="wp-block-button__link has-black-color has-whit-background-color has-text-color has-background has-text-align-left wp-element-button" href="https://api.whatsapp.com/send?phone=5535988109394&amp;text=Ol%C3%A1,%20estou%20com%20d%C3%BAvidas%20e%20gostaria%20de%20saber%20mais%20com%20RG%20CERTE..." style="border-style:none;border-width:0px;border-radius:4px" target="_blank" rel="noreferrer noopener">SAIBA MAIS</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"50%","className":"Hero-column"} -->
    <div class="wp-block-column Hero-column" style="flex-basis:50%"><!-- wp:image {"id":24,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://rgcerte.com.br/wp-content/uploads/2023/10/homi-1.png" alt="" class="wp-image-24"/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:makersolucoes/container --></section>
    <!-- /wp:makersolucoes/hero -->
    
    <!-- wp:makersolucoes/container {"className":"quem-somos"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks quem-somos"><!-- wp:media-text {"mediaPosition":"right","mediaId":76,"mediaLink":"http://rgcerte.com.br/graospurobao-728x1024-jpg/","mediaType":"image"} -->
    <div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile"><div class="wp-block-media-text__content"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"green-hard","fontSize":"huge","fontFamily":"nunito"} -->
    <h2 class="wp-block-heading has-green-hard-color has-text-color has-nunito-font-family has-huge-font-size" style="font-style:normal;font-weight:700"><strong>RG CERTE</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"textColor":"black","fontFamily":"nunito"} -->
    <p class="has-black-color has-text-color has-nunito-font-family">Nós somos uma empresa focada em serviços de Certificação e Agronegócio.<br><br>A empresa surgiu no ano de 2014, na necessidade de auxiliar os produtores a certificar suas plantações.<br>Assim foi crescendo e logo após, surgiu a RG EXTINTORES, também focada nas necessidades não só rurais, mas também empresarial.<br><br>Hoje atendemos mais de 200 fazendas, 150 empresas e formamos mais de 5.000 pessoas.<br><br>Nosso dever é as pessoas e o meio ambiente.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}}} -->
    <div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:button {"backgroundColor":"green-hard","textColor":"whit","style":{"border":{"radius":"4px"}},"fontFamily":"nunito"} -->
    <div class="wp-block-button has-nunito-font-family"><a class="wp-block-button__link has-whit-color has-green-hard-background-color has-text-color has-background wp-element-button" style="border-radius:4px"><strong>Preciso da certificação!</strong></a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div><figure class="wp-block-media-text__media"><img src="https://rgcerte.com.br/wp-content/uploads/2023/10/graospurobao-728x1024.jpg.png" alt="" class="wp-image-76 size-full"/></figure></div>
    <!-- /wp:media-text --></div>
    <!-- /wp:makersolucoes/container -->
    
    <!-- wp:columns {"backgroundColor":"green-hard","className":"beneficios"} -->
    <div class="wp-block-columns beneficios has-green-hard-background-color has-background"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:makersolucoes/container -->
    <div class="wp-block-makersolucoes-container ContainerBlocks"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontStyle":"italic","fontWeight":"900"}},"textColor":"whit","fontFamily":"nunito"} -->
    <h2 class="wp-block-heading has-whit-color has-text-color has-nunito-font-family" style="font-style:italic;font-weight:900">BENEFÍCIOS DA CERTIFICAÇÃO</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"textColor":"whit","fontFamily":"nunito"} -->
    <p class="has-whit-color has-text-color has-nunito-font-family">Todos nós sabemos da <strong>dificuldade do mercado</strong> <strong>atualmente</strong>, e nada melhor do que entender como <strong>agregar valor ao seu produto final</strong>, é justamente aí que a <strong>certificação</strong> entra.<br><br>Com ela, é necessário reorganizar o modo que é administrado a fazenda, e tomar alguns cuidados a mais, onde incluí: Área de preservação permanente, cuidado com o local onde residem os funcionários, capacitação para funcionários, entre outros cuidados.<br><br>A RG CERTE, entra justamente nessa parte, onde te auxilia a fazer a parte da organização e capacitação, fazendo assim com que facilite a aprovação da sua certificação e obtendo como benefício final, o valor agregado no produto.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","className":"dia-a-dia"} -->
    <div class="wp-block-column is-vertically-aligned-center dia-a-dia"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"textColor":"whit","fontFamily":"nunito"} -->
    <h2 class="wp-block-heading has-text-align-center has-whit-color has-text-color has-nunito-font-family" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20)">DIA A DIA</h2>
    <!-- /wp:heading -->
    
    <!-- wp:makersolucoes/divider {"maxWidth":43,"borderRadius":100,"minHeight":3,"style":{"border":{"width":"0px","style":"none","radius":"100px"},"dimensions":{"minHeight":"100px"}},"backgroundColor":"whit"} -->
    <div class="wp-block-makersolucoes-divider ms-divider has-whit-background-color has-background" style="max-width:43%;border-radius:100px;min-height:3px"></div>
    <!-- /wp:makersolucoes/divider -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)"><!-- wp:image {"id":109,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://rgcerte.com.br/wp-content/uploads/2023/10/2023-06-30-4.png" alt="" class="wp-image-109"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:image {"id":109,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://rgcerte.com.br/wp-content/uploads/2023/10/2023-06-30-4.png" alt="" class="wp-image-109"/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)"><!-- wp:image {"id":109,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://rgcerte.com.br/wp-content/uploads/2023/10/2023-06-30-4.png" alt="" class="wp-image-109"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:image {"id":110,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://rgcerte.com.br/wp-content/uploads/2023/10/2023-06-30-4.png" alt="" class="wp-image-110"/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:makersolucoes/container {"style":{"border":{"radius":"100px"}}} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks" style="border-radius:100px"><!-- wp:embed {"url":"https://www.youtube.com/watch?v=rulE5MJICLo","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
    <figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
    https://www.youtube.com/watch?v=rulE5MJICLo
    </div></figure>
    <!-- /wp:embed --></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"className":"colaboradores"} -->
    <div class="wp-block-columns colaboradores"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"35px","fontStyle":"normal","fontWeight":"700"}},"textColor":"green-medium","fontFamily":"montserrat"} -->
    <h2 class="wp-block-heading has-text-align-center has-green-medium-color has-text-color has-montserrat-font-family" style="font-size:35px;font-style:normal;font-weight:700">CONHEÇA NOSSOS COLABORADORES</h2>
    <!-- /wp:heading -->
    
    <!-- wp:cover {"url":"http://rgcerte.com.br/wp-content/uploads/2023/10/Section-→-fazenda_min.jpg.png","id":124,"dimRatio":50,"isDark":false,"layout":{"type":"constrained"}} -->
    <div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-124" alt="" src="http://rgcerte.com.br/wp-content/uploads/2023/10/Section-→-fazenda_min.jpg.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:makersolucoes/container -->
    <div class="wp-block-makersolucoes-container ContainerBlocks"><!-- wp:paragraph {"align":"center","placeholder":"Escreva o título...","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size"></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
    <div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
    <div class="wp-block-column" style="flex-basis:100%"><!-- wp:query {"queryId":4,"query":{"perPage":"6","pages":0,"offset":0,"postType":"equipe","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]}} -->
    <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:makersolucoes/card {"maxWidth":130,"style":{"spacing":{"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"className":"Hero"} -->
    <div class="wp-block-makersolucoes-card ms-card Hero" style="margin-bottom:var(--wp--preset--spacing--30);;margin-top:var(--wp--preset--spacing--30);;margin-left:var(--wp--preset--spacing--40);;margin-right:var(--wp--preset--spacing--40);;padding-bottom:var(--wp--preset--spacing--0);;padding-top:var(--wp--preset--spacing--0);;padding-left:var(--wp--preset--spacing--0);;padding-right:var(--wp--preset--spacing--40);;font:font-family: undefined;;color:color: var(--wp--preset--color--undefined);;background-color:background-color: undefined;;font-size:font-size: var(--wp--preset--font-size--undefined);;max-width:130%"><!-- wp:makersolucoes/container {"style":{"border":{"radius":{"topLeft":"100px","bottomRight":"100px"}}},"backgroundColor":"green-light","className":"ms-card-container"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks ms-card-container has-green-light-background-color has-background" style="border-top-left-radius:100px;border-bottom-right-radius:100px"><!-- wp:post-featured-image {"style":{"border":{"radius":{"topLeft":"100px","bottomRight":"100px"}},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}}} /-->
    
    <!-- wp:post-title {"textAlign":"center","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"textColor":"whit","fontFamily":"montserrat"} /-->
    
    <!-- wp:makersolucoes/custom-field {"key":"cargo","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"var:preset|spacing|20","right":"var:preset|spacing|40","left":"var:preset|spacing|40"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"typography":{"lineHeight":"1.8"}},"textColor":"whit","fontSize":"big","fontFamily":"nunito"} /--></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:makersolucoes/card -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:makersolucoes/container --></div></div>
    <!-- /wp:cover --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"className":"certificar"} -->
    <div class="wp-block-columns certificar"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:makersolucoes/container {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"35px"}},"textColor":"green-light","fontFamily":"montserrat"} -->
    <h2 class="wp-block-heading has-text-align-center has-green-light-color has-text-color has-montserrat-font-family" style="font-size:35px;font-style:normal;font-weight:700"><strong>PENSANDO EM CERTIFICAR?</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"22px"},"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}}} -->
    <p class="has-text-align-center" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);font-size:22px">Pensando em se certificar? Nós te ajudamos por onde começar, produtores certificarem suas fazendas para que possam acessar novos mercados e melhorarem a lucratividade. Tornamos tudo mais simples, rápido, barato e digital!</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:makersolucoes/card {"maxWidth":50,"style":{"spacing":{"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"className":"Hero"} -->
    <div class="wp-block-makersolucoes-card ms-card Hero" style="margin-bottom:var(--wp--preset--spacing--30);;margin-top:var(--wp--preset--spacing--30);;margin-left:var(--wp--preset--spacing--40);;margin-right:var(--wp--preset--spacing--40);;padding-bottom:var(--wp--preset--spacing--0);;padding-top:var(--wp--preset--spacing--0);;padding-left:var(--wp--preset--spacing--0);;padding-right:var(--wp--preset--spacing--40);;font:font-family: undefined;;color:color: var(--wp--preset--color--undefined);;background-color:background-color: undefined;;font-size:font-size: var(--wp--preset--font-size--undefined);;max-width:50%"><!-- wp:makersolucoes/container {"style":{"border":{"radius":{"topLeft":"100px","bottomRight":"100px"}},"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|20","left":"0","right":"0"}}},"backgroundColor":"green-medium","className":"ms-card-container"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks ms-card-container has-green-medium-background-color has-background" style="border-top-left-radius:100px;border-bottom-right-radius:100px;padding-top:0;padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:0"><!-- wp:image {"align":"left","id":130,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image alignleft size-full"><img src="http://rgcerte.com.br/wp-content/uploads/2023/10/Raphael-1-e1697630987757.png" alt="" class="wp-image-130"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","textColor":"whit","fontSize":"big","fontFamily":"nunito"} -->
    <h2 class="wp-block-heading has-text-align-center has-whit-color has-text-color has-nunito-font-family has-big-font-size">Produtor não certificado</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:makersolucoes/card --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:makersolucoes/card {"maxWidth":50,"style":{"spacing":{"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"className":"Hero"} -->
    <div class="wp-block-makersolucoes-card ms-card Hero" style="margin-bottom:var(--wp--preset--spacing--30);;margin-top:var(--wp--preset--spacing--30);;margin-left:var(--wp--preset--spacing--40);;margin-right:var(--wp--preset--spacing--40);;padding-bottom:var(--wp--preset--spacing--0);;padding-top:var(--wp--preset--spacing--0);;padding-left:var(--wp--preset--spacing--0);;padding-right:var(--wp--preset--spacing--40);;font:font-family: undefined;;color:color: var(--wp--preset--color--undefined);;background-color:background-color: undefined;;font-size:font-size: var(--wp--preset--font-size--undefined);;max-width:50%"><!-- wp:makersolucoes/container {"style":{"border":{"radius":{"topLeft":"100px","bottomRight":"100px"}},"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|20","left":"0","right":"0"}}},"backgroundColor":"green-medium","className":"ms-card-container"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks ms-card-container has-green-medium-background-color has-background" style="border-top-left-radius:100px;border-bottom-right-radius:100px;padding-top:0;padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:0"><!-- wp:image {"align":"left","id":130,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image alignleft size-full"><img src="http://rgcerte.com.br/wp-content/uploads/2023/10/Raphael-1-e1697630987757.png" alt="" class="wp-image-130"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","textColor":"whit","fontSize":"big","fontFamily":"nunito"} -->
    <h2 class="wp-block-heading has-text-align-center has-whit-color has-text-color has-nunito-font-family has-big-font-size">Produtor não certificado</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:makersolucoes/card --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:makersolucoes/card {"maxWidth":50,"style":{"spacing":{"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"className":"Hero"} -->
    <div class="wp-block-makersolucoes-card ms-card Hero" style="margin-bottom:var(--wp--preset--spacing--30);;margin-top:var(--wp--preset--spacing--30);;margin-left:var(--wp--preset--spacing--40);;margin-right:var(--wp--preset--spacing--40);;padding-bottom:var(--wp--preset--spacing--0);;padding-top:var(--wp--preset--spacing--0);;padding-left:var(--wp--preset--spacing--0);;padding-right:var(--wp--preset--spacing--40);;font:font-family: undefined;;color:color: var(--wp--preset--color--undefined);;background-color:background-color: undefined;;font-size:font-size: var(--wp--preset--font-size--undefined);;max-width:50%"><!-- wp:makersolucoes/container {"style":{"border":{"radius":{"topLeft":"100px","bottomRight":"100px"}},"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|20","left":"0","right":"0"}}},"backgroundColor":"green-medium","className":"ms-card-container"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks ms-card-container has-green-medium-background-color has-background" style="border-top-left-radius:100px;border-bottom-right-radius:100px;padding-top:0;padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:0"><!-- wp:image {"align":"left","id":130,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image alignleft size-full"><img src="http://rgcerte.com.br/wp-content/uploads/2023/10/Raphael-1-e1697630987757.png" alt="" class="wp-image-130"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","textColor":"whit","fontSize":"big","fontFamily":"nunito"} -->
    <h2 class="wp-block-heading has-text-align-center has-whit-color has-text-color has-nunito-font-family has-big-font-size">Produtor não certificado</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:makersolucoes/card --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:makersolucoes/container -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"green-medium","textColor":"whit","style":{"border":{"radius":"4px"}},"fontSize":"big"} -->
    <div class="wp-block-button has-custom-font-size has-big-font-size"><a class="wp-block-button__link has-whit-color has-green-medium-background-color has-text-color has-background wp-element-button" style="border-radius:4px"><strong>Quero contratar agora!</strong></a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"backgroundColor":"green-medium"} -->
    <div class="wp-block-column has-green-medium-background-color has-background"><!-- wp:makersolucoes/container {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center"} -->
    <div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"50px"}},"textColor":"whit","fontFamily":"montserrat"} -->
    <h2 class="wp-block-heading has-text-align-center has-whit-color has-text-color has-montserrat-font-family" style="font-size:50px"><strong>Conheça os cursos que a RG CERTE pode lhe oferecer!</strong></h2>
    <!-- /wp:heading --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"id":124,"sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":{"topLeft":"100px","bottomRight":"100px"}}}} -->
    <figure class="wp-block-image size-large has-custom-border"><img src="http://rgcerte.com.br/wp-content/uploads/2023/10/Section-→-fazenda_min.jpg-1024x679.png" alt="" class="wp-image-124" style="border-top-left-radius:100px;border-bottom-right-radius:100px"/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"textAlign":"center","textColor":"green-medium","fontSize":"huge","fontFamily":"montserrat"} -->
    <h2 class="wp-block-heading has-text-align-center has-green-medium-color has-text-color has-montserrat-font-family has-huge-font-size"><strong>RG CERTE INFORMA</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
    <div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:makersolucoes/container -->
    <div class="wp-block-makersolucoes-container ContainerBlocks"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:query {"queryId":15,"query":{"perPage":"3","pages":"","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
    <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:makersolucoes/card {"maxWidth":100,"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
    <div class="wp-block-makersolucoes-card ms-card" style="margin-bottom:var(--wp--preset--spacing--0);;margin-top:var(--wp--preset--spacing--60);;margin-left:var(--wp--preset--spacing--0);;margin-right:var(--wp--preset--spacing--0);;padding-bottom:var(--wp--preset--spacing--0);;padding-top:var(--wp--preset--spacing--0);;padding-left:var(--wp--preset--spacing--50);;padding-right:var(--wp--preset--spacing--0);;font:font-family: undefined;;color:color: var(--wp--preset--color--undefined);;background-color:background-color: undefined;;font-size:font-size: var(--wp--preset--font-size--undefined);;max-width:100%">
    <!-- wp:makersolucoes/container {"className":"ms-card-container"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks ms-card-container">
    <!-- wp:post-featured-image /-->
        
        
    <!-- wp:post-title {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} /-->
        
        
    <!-- wp:post-excerpt {"moreText":"Leia Mais","excerptLength":10,"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} /-->
        
        
    <!-- wp:post-date {"textAlign":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} /-->
    </div>
    <!-- /wp:makersolucoes/container -->
    </div>
    <!-- /wp:makersolucoes/card -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group --></div>
    <!-- /wp:makersolucoes/container --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
    <div class="wp-block-columns" style="margin-top:0;margin-bottom:0"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:cover {"url":"http://rgcerte.com.br/wp-content/uploads/2023/10/Section-1.png","id":248,"dimRatio":50,"isDark":false,"layout":{"type":"constrained"}} -->
    <div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-248" alt="" src="http://rgcerte.com.br/wp-content/uploads/2023/10/Section-1.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center"} -->
    <div class="wp-block-column is-vertically-aligned-center"><!-- wp:query {"queryId":15,"query":{"perPage":"1","pages":"1","offset":0,"postType":"depoimentos","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]}} -->
    <div class="wp-block-query"><!-- wp:post-template {"textColor":"whit"} -->
    <!-- wp:makersolucoes/container {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|60","right":"var:preset|spacing|60"}},"border":{"width":"0px","style":"none","radius":"49px"}},"backgroundColor":"green-medium"} -->
    <div class="wp-block-makersolucoes-container ContainerBlocks has-green-medium-background-color has-background" style="border-style:none;border-width:0px;border-radius:49px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--60)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","height":"200px","sizeSlug":"medium","overlayColor":"whit","align":"center","style":{"border":{"radius":"100px"},"spacing":{"margin":{"right":"0","left":"0","top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content /-->
    
    <!-- wp:post-title {"textAlign":"center","textColor":"whit"} /--></div>
    <!-- /wp:makersolucoes/container -->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"paginationArrow":"arrow","backgroundColor":"black","textColor":"whit","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
    
    <!-- wp:query-no-results -->
    <!-- wp:paragraph {"placeholder":"Adicione texto ou blocos que serão exibidos quando uma consulta não retornar resultados."} -->
    <p></p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results --></div>
    <!-- /wp:query --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div></div>
    <!-- /wp:cover --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:template-part {"slug":"footer","theme":"rgcerte"} /-->
