/* Colors */
$black: #000;
$white: #fff;
$dark-gray: #222;


/* Fonts */
$montserrat: "Montserrat", sans-serif;


/* Breakpoint */
$container: 1400px;

$mobile: 360px;
$mobile-large: 480px;
$tablet: 640px;
$tablet-large: 781px;
$desktop: 1024px;
$desktop-large: 1280px;
$desktop-xlarge: 1440px;
$desktop-fhd: 1920px;
